/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,500italic,600,700);

* {
	font-family: 'Raleway', sans-serif;
}
body {
	margin: 2px;
	background-image: url('back.png');
	background-repeat: repeat;
}

p, td {
	font-weight: 600;
}

h3 {
	  font-weight: 700;
    color: azure;
}

.content {
	
	margin-bottom: 2em;
}

@media (min-width: 768px) {
.navbar {
    border-radius: 1px;
	}
}

#footer {
	border-top: 1px solid #F2E1E1;
	margin-top: 1em;
	padding: 1em;
	p {
		text-align: center;
	}
}

.amount {
	font-size: 24px;
}

#expense {
	color: #2196F3;
}

#revenue {
	color: red;
}
input {
	width: 200px;
}

#user_remember_me {
	width: auto;
}

table {
	border: 3px solid white;
}