// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.total {
	
		float: right;
	
#total {
	font-style: italic;
  color: #CDDC39;
  font-size: medium;
  font-weight: bolder;
  margin: 0 2px 0 2px;
		}
	}
#early_date {
	color: #795548;
	font-size: 16px;
}


table a, table th {
	color: #120A07;
}

#option a{
	color: #3F51B5;
}

.panel h3 {
	color: #E91E63;
}